.wrapper {
  margin-top: 175px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 60px;
}
input {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.buttons {
  text-align: center;
  padding-top: 35px;
}
